ROMAMSDOS RCDATA "Resources\\Amstrad ROMs\\ROMAMSDOS.bin"
ROMCPC464_FR RCDATA "Resources\\Amstrad ROMs\\ROMCPC464_FR.bin"
ROMCPC464_SP RCDATA "Resources\\Amstrad ROMs\\ROMCPC464_SP.bin"
ROMCPC464_UK RCDATA "Resources\\Amstrad ROMs\\ROMCPC464_UK.bin"
ROMCPC6128_FR RCDATA "Resources\\Amstrad ROMs\\ROMCPC6128_FR.bin"
ROMCPC6128_SP RCDATA "Resources\\Amstrad ROMs\\ROMCPC6128_SP.bin"
ROMCPC6128_UK RCDATA "Resources\\Amstrad ROMs\\ROMCPC6128_UK.bin"
ROMCPC664_UK RCDATA "Resources\\Amstrad ROMs\\ROMCPC664_UK.bin"
ROMMULTIFACE2 RCDATA "Resources\\Amstrad ROMs\\ROMMULTIFACE2.bin"
ROMSILICONDISK13 RCDATA "Resources\\Amstrad ROMs\\ROMSILICONDISK13.bin"
FONT_AMSTRAD RCDATA "Resources\\FONT_AMSTRAD.bin"
FONT_DIALOG RCDATA "Resources\\FONT_DIALOG.bin"
PLATFORMTARGETS RCDATA "Resources\\PLATFORMTARGETS.bin"
SOUND_FDC_HEAD_6128 RCDATA "Resources\\SOUND_FDC_HEAD_6128.wav"
SOUND_FDC_MOTOR_6128 RCDATA "Resources\\SOUND_FDC_MOTOR_6128.wav"
SOUND_K7_MOTOR_464 RCDATA "Resources\\SOUND_K7_MOTOR_464.wav"
SOUND_K7_RELAYDBL_464 RCDATA "Resources\\SOUND_K7_RELAYDBL_464.wav"
SOUND_K7_RELAY_464 RCDATA "Resources\\SOUND_K7_RELAY_464.wav"
TEELCDFONT RCDATA "Resources\\TEELCDFONT.bin"
TEELEDFONT RCDATA "Resources\\TEELEDFONT.bin"
